body {
	background-color: rgb(132, 170, 241);
	background-image: url(https://images.unsplash.com/photo-1607426740187-d8b1650d58f3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1370&q=80);
}

#snow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 1000;
}

h1 {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 40px;
	/* color: #603f83; */
	color: rgb(113, 117, 129);
}

#board td {
	width: 60px;
	height: 60px;
	border: solid 2px whitesmoke;
	border-radius: 5%;
	margin-left: auto;
	margin-right: auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	/* TODO: make into circles */
	margin: 5px;
	width: 85%;
	height: 85%;
	border-radius: 50%;
}

.p1 {
	background: radial-gradient(circle, rgb(228, 227, 227) 0%, rgb(196, 229, 245) 100%);
}

.p2 {
	background: radial-gradient(circle, rgb(250, 248, 248) 0%, rgb(167, 172, 180) 100%);
}

.fall {
	animation-name: fall-animation;
	animation-duration: 1000ms;
}

@keyframes fall-animation {
	from {
		transform: translateY(-500px);
	}
	to {
		transform: translateY(0);
	}
}

/* column-top is table row of clickable areas for each column */
#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: whitesmoke;
}
